<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona todas as requisições para a pasta public, se já não estiver nela
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
